
* {
    margin: 0;
    padding: 0;
}
// ::selection{
//     background-color:$secondery-color ;
//     color: $white;
// }
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

a,
button {
    cursor: pointer;
    transition: .3s ease;

    &:focus {
        outline: 0;

    }
}

.socail-icon-aria{
    margin-top: 480px;
    margin-left: 30px;
    .social-icon{
     position: relative;
     
      li{
           a{
                display: inline-block;
                text-decoration: none;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 13px;
                border: 1px solid #373737;
                color: #999;
                border-radius: 100%;
               
                transition:  .4s;
                margin-bottom: 10px;
            &:hover {
                    color: #b19777;
                    border: 1px solid #b19777;
                }
            
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 21px;
        width: 1px;
        height: 70px;
        top: -80px;
        background: $tertiary-color;
    }
}

}
.section-padding {
    padding: 90px 0;
}
