.services{
    .item{
        padding: 60px 30px;
    margin-bottom: 30px;
    position: relative;
 img {
    width: 60px;
    margin-bottom: 20px;
}
 h5 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 5px;
}
}
}